@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Список клієнтів";
}

<h1>Список зареєстрованих користувачів</h1>

<table>
    <thead>
        <tr>
            <th>Email</th>
            <th>UserName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
            </tr>
        }
    </tbody>
</table>
