@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Головна - Кур'єр";
}

<h2 class="mb-4">
    <i class="fa-solid fa-truck me-2"></i> Головна сторінка кур’єра
</h2>

<div class="alert alert-info shadow-sm">
    <i class="fa-solid fa-smile-beam me-1"></i>
    Ласкаво просимо, @User.Identity?.Name!<br />
    Тут ти можеш бачити активні доставки, переглядати маршрути та змінювати статуси замовлень.
</div>

<div class="text-center">
    <a class="btn btn-primary btn-lg" asp-action="OrdersToDeliver">
        <i class="fa-solid fa-truck-fast me-1"></i> Перейти до замовлень
    </a>
</div>
