@model LocalFood.Models.Dish

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Створити страву";
}

<h1 class="mb-4">Створити страву</h1>

<div class="card shadow-sm mb-5">
    <div class="card-body p-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <input type="hidden" name="restaurantId" value="@ViewBag.RestaurantId" />

            <div class="mb-3">
                <label asp-for="Name" class="form-label fw-bold">
                    <i class="fa-solid fa-signature me-1"></i> Назва страви
                </label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa-solid fa-signature text-primary"></i>
                    </span>
                    <input asp-for="Name" class="form-control" placeholder="Введіть назву" />
                </div>
                <span asp-validation-for="Name" class="text-warning"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Description" class="form-label fw-bold">
                    <i class="fa-solid fa-comment me-1"></i> Опис
                </label>
                <textarea asp-for="Description" class="form-control" rows="3" placeholder="Введіть опис"></textarea>
            </div>

            <div class="mb-3">
                <label asp-for="Price" class="form-label fw-bold">
                    <i class="fa-solid fa-dollar-sign me-1"></i> Ціна
                </label>
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fa-solid fa-dollar-sign text-primary"></i>
                    </span>
                    <input asp-for="Price" class="form-control" placeholder="Введіть ціну" />
                </div>
                <span asp-validation-for="Price" class="text-warning"></span>
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold">
                    <i class="fa-solid fa-image me-1"></i> Фото страви
                </label>
                <input type="file" name="image" class="form-control" />
            </div>

            <button type="submit" class="btn btn-success w-100">
                <i class="fa-solid fa-circle-check me-1"></i> Створити
            </button>
        </form>
    </div>
</div>
